[Desktop Entry]
Name=KeySync
Type=Application
Comment=Script to syncronize keepassxc databases
Path=/home/xolotl/.dotfiles/helpers/key-sync
Exec=sh key-sync.sh
Icon=keysync
Terminal=false
